
@font-face {
  	font-family: 'quicksand';
  	src: url('./fonts/quicksand.ttf');
}

h1 {
	font-size: 50px;
	margin: 40px;
}

body {
  background-image: url('./images/background_sun.jpg');
  b
  background-attachment: scroll;
  background-size: cover;
  background-color: black;
  /*background-repeat: no-repeat;*/
  height: 100%;
  font-family: quicksand;
}

#browser {
	display: none;
	margin: 12px;
	left: 40px;
	font-size: 14px;
	font-style: italic;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  /*background-color: #E9D9D9;*/
  padding: 10px;
  width: 500px;
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.5);*/
  text-align: left;
  padding: 10px 10px;
  font-size: 10px;
  font-family: quicksand;
}

.audioblock {
	font-family: quicksand;
}

audio { 
	width: 250px; 
	box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
	border-radius: 90px;
	background-color: #F1F3F4;
	transform: scale(1.05);
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
	-moz-box-shadow: 2px 2px 4px 0px black;
	-webkit-box-shadow:  2px 2px 4px 0px black;
	box-shadow: 2px 2px 4px 0px black;
	-moz-border-radius:7px 7px 7px 7px ;
	-webkit-border-radius:7px 7px 7px 7px ;
	border-radius:7px 7px 7px 7px ;
}

audio:hover, audio:focus, audio:active
{
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}

.albumnotes {
	display: block;
	background-color: #E9D9D9;
	margin: 30px;
	border: 30px;
}

.songnotes {
	display: block;
	background-color: #E9D9D9;
	margin: 30px;
	border: 30px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */

}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);

}

/* Hide the nested list */
.nested {
  display: none;
  list-style-type: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

#copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  font-size: 0.5vw;
}