
@font-face {
  	font-family: 'quicksand';
  	src: url('./fonts/quicksand.ttf');
}

@font-face {
	font-family: NanumBrushScript-Regular;
	src: url('./fonts/NanumBrushScript-Regular.ttf');
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

h1 {
	font-size: 70px;
	margin: 40px;
	font-family: quicksand;
}

iframe {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background-image: url('./images/background_sun.jpg');
  background-attachment: scroll;
  background-size: cover;
  background-color: black;
  /*background-repeat: no-repeat;*/
  height: 100%;
  font-family: quicksand;
  font-size: 24px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
	    opacity: 0;
	}
	100% {
	    opacity: 1;
	}
}

#browser {
	display: none;
	margin: 12px;
	position: relative;
	left: 25px;
	font-size: 14px;
	font-style: italic;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  /*background-color: #E9D9D9;*/
  padding: 10px;
  /*width: 500px;*/
  width: 50%;
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.5);*/
  text-align: left;
  padding: 10px 10px;
  font-size: 12px;
  font-family: quicksand;
  color: white;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  text-shadow: 0px 0px 5px black, 1px 1px 1px black;
}

.audioblock {
	font-family: quicksand;
	
}

audio { 
	width: 250px; 
	box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
	border-radius: 90px;
	background-color: #F1F3F4;
	transform: scale(1.05);
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
	-moz-box-shadow: 2px 2px 4px 0px black;
	-webkit-box-shadow:  2px 2px 4px 0px black;
	box-shadow: 2px 2px 4px 0px black;
	-moz-border-radius:7px 7px 7px 7px ;
	-webkit-border-radius:7px 7px 7px 7px ;
	border-radius:7px 7px 7px 7px ;
}

audio:hover, audio:focus, audio:active
{
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}

.notes {
	display: block;
	background-image: url('./images/paper.jpg');
	background-size: cover;
	/*width: 815px;*/
	width: 50%;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 18px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  background-image: url('./images/paper.jpg');
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
  list-style-type: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

#copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  font-size: 0.5vw;
}

.inTextLink {
	color: hotpink;
}

#videos
{
	margin-left: 40px
}

.video
{

}